# Flutter / Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Android
android/.gradle/
android/local.properties
android/app/build/

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/App.framework

# Linux / Windows / Web / Mac ephemeral files
linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/
web/build/

# Version Control & IDEs
.git/
.idea/
.vscode/
.DS_Store
*.swp